h1, h2, h3{
    color: white;
}
html{
    font-size: 20px;
    font-family: 'Diphylleia', serif;
    background-color:#1b1b1b;
}
p{ 
    color: white;
    border: 1px solid black;
    background-color: cadetblue;
}
li, a{
    color: white;
}
a:hover{
    font-size: large;
    color: red;
}

image{
    height: 60px;
}
h1, h2{
    font-size: 60px;
    text-align: center;
}
p, li, a{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}